
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dian:before { content: "\e607"; }
.icon-anzhuo:before { content: "\e600"; }
.icon-tubiao8:before { content: "\e61a"; }
.icon-tubiao10:before { content: "\e61b"; }
.icon-weizhi:before { content: "\e619"; }
.icon-msnui-downmini:before { content: "\e61c"; }
.icon-msnui-downmini1:before { content: "\e61d"; }
.icon-icondzje:before { content: "\e60a"; }
.icon-sixin:before { content: "\e601"; }
.icon-pingguo:before { content: "\e602"; }
.icon-16:before { content: "\e606"; }
.icon-guanbi:before { content: "\e604"; }
.icon-wentifankui:before { content: "\e605"; }
.icon-fankui:before { content: "\e603"; }
.icon-qunliao:before { content: "\e608"; }
.icon-peiziiconfont07:before { content: "\e609"; }
.icon-zhifufangshi:before { content: "\e60b"; }
